<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Client</th>
        <th scope="col">Priority</th>
        <th scope="col">Date</th>
        <th scope="col">Area</th>
        <th scope="col">Poster</th>
        <th scope="col">Created</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: items">
    <tr>
        <td>ITEM 1</td>
    </tr>
    <tr data-bind="foreach: $data">
        <td data-bind="text: $data"></td>
    </tr>
    </tbody>
</table>