<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Client</th>
        <th scope="col">Priority</th>
        <th scope="col">Date</th>
        <th scope="col">Area</th>
        <th scope="col">Poster</th>
        <th scope="col">Created</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Client</td>
        <td>Priority</td>
        <td>Date</td>
        <td>Area</td>
        <td>Poster</td>
        <td>Created</td>
    </tr>
    </tbody>
</table>