<p data-bind="text: test">Testing...</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: model.items">
    <tr>
        <td>ITEM 1</td>
    </tr>
    {#<tr>
        <td data-bind="text: $data.id()">Id</td>
        <td data-bind="text: $data.name()">Name</td>
        <td data-bind="text: $data.email()">Email</td>
        <td data-bind="text: $data.password()">PWD</td>
        <td data-bind="text: $data.role()">Role</td>
    </tr>#}
    </tbody>
</table>