body {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    width: 98%;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.g-recaptcha {
    transform: scale(0.7);
    width: 0;
    margin-left: -0.5%;
    transform-origin: 0 0;
}

.fieldCorrect {
    color: #498057;
    background-color: #D1FFDF;
    border-color: #28a745;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.fieldError {
    color: #840000;
    background-color: #FFDDED;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(128, 0, 0, .25)
}

.sub_window {
    background-color: #f8f8f8;
    display: inline-block;
    margin: 10px auto;
    position: relative;
    padding: 24px;
    width: 100%;
    /*opacity: 0.85;*/
    border-radius: 18px;
}