{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
{% endblock %}
{% macro render_side(icon,page,text) %}
    <li class="nav-item">
        <a href="#" page="{{ page }}" class="nav-link"
           data-bind="css: { 'nav-link-active': model.isRendered('{{ page }}') }, click: show_page('{{ page }}')">
            <i data-feather="{{ icon }}"></i>
            <div class="nav-item-text">{{ text }}</div>
        </a>
    </li>
{% endmacro %}
{% macro render_modal(header,form,footer) %}
    <div class="modal-content" data-bind="visible: model.isRendered('{{ form }}')">
        <div class="modal-header">
            <h5 class="modal-title">{{ header }}</h5>
        </div>
        <div class="modal-body">
            <form method="post" action="/">
                {{ render_form(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn-danger" type=button data-bind="click: add">{{ footer }}</button>
        </div>
    </div>
{% endmacro %}
{% block precontent %}
    <div class="container-fluid">
        <nav class="sidebar">
            <ul class="nav flex-column">
                {{ render_side("home","requests","Requests") }}
                {{ render_side("shopping-cart","clients","Clients") }}
                {{ render_side("file","production","Production Areas") }}
                {{ render_side("users","users","Users") }}
                {{ render_side("lock","roles","Roles") }}
            </ul>
        </nav>
    </div>
    <div class="rightBar">
        <p>{{ user.name }}&nbsp;</p>
        <a class="logoutButton" href="#" onclick="logout()">
            <i data-feather="log-out"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    <h1 data-bind="text: page_title"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="4%"></th>
            <!-- ko foreach: model.itemNames() -->
            <th data-bind="text: $data">???</th>
            <!-- /ko -->
        </tr>
        </thead>
        <tbody data-bind="">
        <!-- ko foreach: {data: model.items(), as: 'item'} -->
        <tr>
            <td><a href="#" data-bind="click: $parent.removeItem"><i class="remove-item" data-feather="minus"></i></a>
            </td>
            <!-- ko foreach: model.itemNames() -->
            <!-- ko ifnot: $data==="role" -->
            <td data-bind="text: item[$data]">Loading not role...</td>
            <!-- /ko -->
            <!-- ko if: $data==="role" -->
            <td data-bind="text: model.getRoleName(item[$data]())">Loading...</td>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
        <!-- /ko -->
        <tr>
            <td class="bg-white border-0"><a href="#" data-toggle="modal" data-target=".add-item-modal">
                <i class="add-item" data-feather="plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade add-item-modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            {{ render_modal('Add new request', 'requests','Add Request') }}
            {{ render_modal('Add new client', 'clients', 'Add Client' ) }}
            {{ render_modal('Add new production area', 'production', 'Add Production Area') }}
            {{ render_modal('Add new user', 'users','Add User') }}
            {{ render_modal('Add new role', 'roles', 'Add Role') }}
        </div>
    </div>

{% endblock %}