{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
{% endblock %}
{% macro render_side(icon,page,text) %}
    <li class="nav-item">
        <a href="#" page="{{ page }}" class="nav-link"
           data-bind="css: { 'nav-link-active': is_rendered('{{ page }}') }"
           onclick=render_page("{{ page }}")>
            <i data-feather="{{ icon }}"></i>
            <div class="nav-item-text">{{ text }}</div>
        </a>
    </li>
{% endmacro %}
{% block precontent %}
    <div class="container-fluid">
        <nav class="sidebar">
            <ul class="nav flex-column">
                {{ render_side("home","requests","Requests") }}
                {{ render_side("shopping-cart","clients","Clients") }}
                {{ render_side("file","production","Production Areas") }}
                {{ render_side("users","users","Users") }}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h1 data-bind="text: page_title"></h1>
    <table class="table table-striped" data-bind="visible: hasItems()">
        <thead>
        <tr data-bind="foreach: itemNames()">
            <th data-bind="text: $data">???</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: {data: items, as: 'item'}">
        <tr data-bind="foreach: model.itemNames()">
            <td data-bind="text: item[$data]">Loading...</td>
        </tr>
        </tbody>
    </table>
    <div class="well" data-bind="visible: hasNoItems()">
        No <strong data-bind="text: model.page_title"></strong> found.
    </div>
{% endblock %}