{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
{% endblock %}
{% macro render_side(icon,page,text) %}
    <li class="nav-item">
        <a href="#" page="{{ page }}" class="nav-link"
           data-bind="css: { 'nav-link-active': is_rendered('{{ page }}') }"
           onclick=render_page("{{ page }}")>
            <i data-feather="{{ icon }}"></i>
            <div class="nav-item-text">{{ text }}</div>
        </a>
    </li>
{% endmacro %}
{% block precontent %}
    <div class="container-fluid">
        <nav class="sidebar">
            <ul class="nav flex-column">
                {{ render_side("home","requests","Requests") }}
                {{ render_side("shopping-cart","clients","Clients") }}
                {{ render_side("file","production","Production Areas") }}
                {{ render_side("users","users","Users") }}
            </ul>
        </nav>
    </div>
    <a class="logoutButton" href="#" onclick="logout()">
        <i data-feather="log-out"></i>
    </a>
{% endblock %}
{% block content %}
    <h1 data-bind="text: page_title"></h1>
    <table class="table table-striped" data-bind="visible: hasItems()">
        <thead>
        <tr>
            <th width="4%"></th>
            <!-- ko foreach: itemNames() -->
            <th data-bind="text: $data">???</th>
            <!-- /ko -->
        </tr>
        </thead>
        <tbody data-bind="">
        <!-- ko foreach: {data: items, as: 'item'} -->
        <tr>
            <td><a href="#" data-bind="click: $parent.removeItem"><i class="remove-item" data-feather="minus"></i></a>
            </td>
            <!-- ko foreach: model.itemNames() -->
            <td data-bind="text: item[$data]">Loading...</td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
        <tr>
            <td><a href="#" data-toggle="modal" data-target=".add-item-modal"><i class="add-item"
                                                                                 data-feather="plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="well" data-bind="visible: hasNoItems()">
        No <strong data-bind="text: model.page_title"></strong> found.
    </div>

    <div class="modal fade add-item-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container-fluid">
                    <form data-bind="foreach: itemNames()">
                        <div class="form-group">
                            <label data-bind="text: $data">Loading...</label>
                            <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}