{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="sub_window">
                <h2>Login</h2>
                <form onsubmit="return login_now()" onkeypress="if (event.which===13) login_now()">
                    {{ render_form("login") }}
                    <button class="btn-info" type=button data-bind="click: login_now">Login</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="sub_window">
                <h2>Create account</h2>
                <form onsubmit="return signup_now()" onkeypress="if (event.which===13) signup_now()">
                    {{ render_form("signup") }}
                    <button class="btn-danger" type=button data-bind="click: signup_now">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}