{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="sub_window">
                <h2>Login</h2>
                <form method="post" action="/">
                    {{ login.hidden_tag() }}
                    {{ render_field("login","email",login.email) }}
                    {{ render_field("login","password",login.password) }}
                    <button class="btn-info" type=button onclick="login()">Login</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="sub_window">
                <h2>Create account</h2>
                <form method="post" action="/">
                    {{ signup.hidden_tag() }}
                    {{ render_field("signup","username",signup.username) }}
                    {{ render_field("signup","email",signup.email) }}
                    {{ render_field("signup","password",signup.password) }}
                    {{ render_field("signup","repeat_password",signup.repeat_password) }}
                    <dt>Verification
                        {{ recaptcha }}
                    </dt>
                    <button class="btn-danger" type=button onclick="signup()">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}