<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/izitoast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% block css %}{% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/knockout.js') }}"></script>
    <script src="{{ url_for('static',filename='js/izitoast.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
    <title>• Feature Requests •</title>
</head>
<body>
{% macro render_field(form,field) %}
    {% with f=get_attribute(forms[form],field) %}
        {% if get_attribute(f,'widget') %}
            <script>
                model.{{ form }}.{{ field }} = new Entity("{{ form }}", "{{ field }}",
                    "{{ none_to_empty(f.data) }}", {{ entries_to_dict(f.choices) | safe}});
            </script>
            {% if f.widget.input_type=='checkbox' %}
                <div class="checkbox">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               data-bind="checked: model.{{ form }}.{{ field }}.data">
                        <span class="custom-control-indicator"></span>
                        <b>{{ f.label.text }} (</b> {{ f.description }} <b>)</b>
                    </label>
                </div>
            {% else %}
                <dt>{{ f.label }}</dt>
                <div style="display: none" data-bind="visible: {{ form }}.{{ field }}.errorLen"
                     class="alert alert-danger"
                     role="alert">
                    <div data-bind="foreach: {{ form }}.{{ field }}.error()">
                        <li data-bind="text: $data"/>
                    </div>
                </div>
                <div style="display: none" data-bind="visible: {{ form }}.{{ field }}.successLen"
                     class="alert alert-success"
                     role="alert">
                    <li data-bind="text: {{ form }}.{{ field }}.success"/>
                </div>
                {% if f.widget.input_type in ['password','text'] %}
                    <input data-bind="
                css: { fieldCorrect: {{ form }}.{{ field }}.successLen, fieldError: {{ form }}.{{ field }}.errorLen },
                value: {{ form }}.{{ field }}.data"
                           class="form-control"
                           placeholder="Enter {{ f.label.text }}"
                           type="{{ f.widget.input_type }}">
                {% else %}
                    <select class="form-control"
                            data-bind="value: {{ form }}.{{ field }}.data,
                                       optionsCaption: 'Choose...',
                                       options: {{ form }}.{{ field }}.optionsKeys(),
                                       optionsText: {{ form }}.{{ field }}.optionsValue">
                    </select>
                {% endif %}
            {% endif %}
        {% else %}
            <br>
            <label><strong>{{ f }}</strong></label>
        {% endif %}
    {% endwith %}
{% endmacro %}
{% macro render_form(form) %}
    {{ forms[form].hidden_tag() }}
    <input style="display: none;" type="text">
    {% for field in get_fields(forms[form]) %}
        {{ render_field(form,field) }}
    {% endfor %}
    {% if get_attribute(forms[form],'has_captcha', False) and recaptcha != "" %}
        <dt>Verification
            {{ recaptcha }}
        </dt>
    {% else %}
        <br>
    {% endif %}
{% endmacro %}
{% block precontent %}{% endblock %}
<div id="contentBody" class="container main">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static',filename='js/feather.js') }}"></script>
<script>feather.replace()</script>
</body>
</html>