<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/izitoast.css') }}">
    {% block css %}{% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/knockout.js') }}"></script>
    <script src="{{ url_for('static',filename='js/izitoast.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
    <title>• Feature Requests •</title>
</head>
<body>
{% macro render_field(form,id,field) %}
    <dt>{{ field.label }}</dt>
    <script>
        model.{{ form }}.{{ id }} = new Entity("{{ form }}", "{{ id }}", "{{ '' if field.data==None else field.data }}");
    </script>
    <div style="display: none" data-bind="visible: {{ form }}.{{ id }}.errorLen" class="alert alert-danger"
         role="alert">
        <div data-bind="foreach: {{ form }}.{{ id }}.error()">
            <li data-bind="text: $data"/>
        </div>
    </div>
    <div style="display: none" data-bind="visible: {{ form }}.{{ id }}.successLen" class="alert alert-success"
         role="alert">
        <li data-bind="text: {{ form }}.{{ id }}.success"/>
    </div>
    <input data-bind="
                css: { fieldCorrect: {{ form }}.{{ id }}.successLen, fieldError: {{ form }}.{{ id }}.errorLen },
                value: {{ form }}.{{ id }}.data"
           class="form-control"
           placeholder="Enter {{ field.label.text }}"
           type="{{ field.widget.input_type }}">
{% endmacro %}
{% block precontent %}{% endblock %}
<div id="contentBody" class="container main">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static',filename='js/feather.js') }}"></script>
<script>feather.replace()</script>
</body>
</html>